
@{
    ViewBag.Title = "Crear";
}

<h2>Oferta de Empleo</h2>

<div class="panel-primary">
    <div class="panel-heading">Oferta de empleo</div>
    <div class="panel-body">


        <form method="post" action="/ofertadeempleo/Crear">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombrecompleto">Nombre Completo</label>
                        <input type="text" class="form-control" id="nombrecompleto"
                               required maxlength="100" placeholder="Introduce tu nombre completo">
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email"
                               required maxlength="100" placeholder="Introduce tu email">
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
